
.slds-has-error {
  --slds-c-input-color-border: #ea001e;
  --slds-c-input-shadow: #ea001e 0 0 0 1px inset;
  --slds-c-input-color-background: var(--slds-c-input-color-background, var(--sds-c-input-color-background, white));
  --slds-c-input-text-color: var(--slds-c-input-text-color, var(--sds-c-input-text-color), #74747);
}


.slds-listbox__option-header {
  font-size: 0.7rem !important;
  font-weight: 700;
}